body {
    margin: 0;
    font-family: Arial, sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

/*sector*/

.sector {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;


}

/*intro*/

.intro {
    width: 100%;
    height: 100vh;
    background: url("../img/intro.png")center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

/*intro*/

.intro2 {
    width: 100%;
    color: #333333;
    font-size: 14px;
    background-color: seashell;
    line-height: 2;
    padding-top: 30px;

}

/*button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 25px;
    color: #fff;
    text-transform: uppercase;
    background-color: #279D87;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: 30px;
    margin-bottom: 60px;
}

.btn:hover {
    background-color: #f1ad1d;
    color: #000000;
    transition: color 2s;
}

/*intro3*/
.intro3 {
    width: 100%;
    background-color: white;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 50px;

}

/*header*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: center;

}
/*nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    color: limegreen;
    text-decoration: none;
    transition: color .4s linear;
    margin: 30px;
}

.nav__link:hover {
    color: aqua;
}

